<div class="float-left" style="float:left;display: inline-block">
    <a style="color:rgb(255, 255, 255);padding: 0;margin-left: 10%" asp-action="Home" asp-controller="Home"
       class="nav-link text-light">
        <img style="height: 2em;width: 9em" src="/img/output-onlinepngtools.png">
    </a>
</div>
<ul class="nav justify-content-end">
    <li class="nav-item">
        <ul class="navbar-nav ml-auto ">
            <li class="nav-item avatar dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span id="counter" class="badge badge-danger ml-2">0</span>
                    <i style="color:white;padding-top:0.8rem;" class="nav-link active far fa-bell fa-lg d-inline-block"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right dropdown-secondary" aria-labelledby="navbarDropdownMenuLink-5">
                    <a class="dropdown-item waves-effect waves-light" href="#">Action <span class="badge badge-danger ml-2">4</span></a>
                    <a class="dropdown-item waves-effect waves-light" href="#">Another action <span class="badge badge-danger ml-2">1</span></a>
                    <a class="dropdown-item waves-effect waves-light" href="#">Something else here <span class="badge badge-danger ml-2">4</span></a>
                </div>
            </li>
        </ul>
    </li>
    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" style="color:rgb(255, 255, 255);" asp-controller="User" asp-action="Login">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:rgb(255, 255, 255);" asp-controller="User" asp-action="Registration">Register</a>
        </li>

    }
    @if (User.Identity.IsAuthenticated)
    {

        if (User.IsInRole("Admin"))
        {

            <li class="nav-item">
                <p id="sendButton" class="card-text" style="color:#9fea92; font-size:1rm; padding:.5rem 1rem; font-weight: bold;font-family:" -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji""">
                    Admin : @User.Identity.Name
                </p>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="AdminHome" asp-controller="Admin">Admin Home</a>
            </li>
        }






        <li class="nav-item">
            <a class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="News" asp-controller="Home">News</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="Home" asp-controller="Home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="GameEventAdd" asp-controller="GameEvent">Add Event</a>
        </li>
        <li class="nav-item">
            <form asp-action="Logout" asp-controller="User"
                  method="post" id="logout">
                <button id="logout-button" type="submit" class="nav-link" style="color:rgb(255, 255, 255);">
                    Log
                    out
                </button>
            </form>

        </li>
    }

</ul>