
<div class="float-left" style="float:left;display: inline-block">
    <a style="color:rgb(255, 255, 255);padding: 0;margin-left: 10%" asp-action="Home" asp-controller="Home"
       class="nav-link text-light">
        <img onclick="resetSession()" style="height: 2em;width: 9em" src="/img/output-onlinepngtools.png">
    </a>
</div>
<ul class="nav justify-content-end" style="user-select: none;">

    @if (!User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link" style="color:rgb(255, 255, 255);" asp-controller="User" asp-action="Login">Login</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" style="color:rgb(255, 255, 255);" asp-controller="User" asp-action="Registration">Register</a>
        </li>

    }
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item avatar dropdown" style="height:2.5rem; padding-right:1rem;">


                    <div class="btn-group" style="user-select: none;">
                        <a onclick="updateCount('@User.Identity.Name')" unselectable="on" class="nav-link waves-effect waves-light" id="navbarDropdownMenuLink-5" style="position:relative;top:-8px;" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            <span unselectable="on" id="counter" class="badge badge-danger ml-2">@ConnectionIdProvider.notifications.Count(n => n.IsRead == false)</span>
                            <i unselectable="on" style="color:white;padding-top:0.8rem;" class="nav-link active far fa-bell fa-lg d-inline-block"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-lg-left dropdown-secondary mt-1 " id="nott" style="background-color: #151226f7;user-select: none;" aria-labelledby="navbarDropdownMenuLink-5">

                            @foreach (var not in ConnectionIdProvider.notifications.OrderBy(x => x.CreatedAt))
                            {
                                <a class="dropdown-item waves-effect waves-light" href="/game/detail?id=@not.GameEvent.Id"><span class="badge badge-danger ml-2">@not.Message</span></a>
                            }
                        </div>


                    </div>
                </li>
            </ul>
        </li>
        if (User.IsInRole("Admin"))
        {

            <li class="nav-item">
                <p id="sendButton" class="card-text" style="color:#9fea92; font-size:1rm; padding:.5rem 1rem; font-weight: bold;font-family:" -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji""">
                    Admin : @User.Identity.Name
                </p>
            </li>
            <li class="nav-item">
                <a class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="AdminHome" asp-controller="Admin">Admin Home</a>
            </li>
        }





        <li class="nav-item">
            <a onclick="resetSession()" class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="Home" asp-controller="Home"><i class="fas fa-igloo"></i></a>
        </li>
        <li class="nav-item">

            <a class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="News" asp-controller="Home"><i class="far fa-newspaper fa-lg"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color:rgb(255, 255, 255);" asp-action="GameEventAdd" asp-controller="GameEvent"><i class="fas fa-plus fa-lg"></i></a>
        </li>
        <li class="nav-item">
            <form asp-action="Logout" asp-controller="User"
                  method="post" id="logout">
                <button id="logout-button" type="submit" class="nav-link" style="color:rgb(255, 255, 255);">
                    Log
                    out
                </button>
            </form>

        </li>
    }

</ul>

<script>
    function resetSession()
    {
        sessionStorage.setItem("game", "All");
    }
</script>